[Unit]
Description=node_server - Test server in NodeJS
Documentation=https://github.com/moosch/test-daemon/README.md
After=network.target

[Service]
Environment=PORT=4011
Environment=SERVICE=4011
Type=simple
ExecStart=/usr/bin/env node /home/server/test-daemon/bin/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target

# Enable to start on reboot
sudo systemctl enable node-server.service